<h1>Getting Started</h1>

<table class="instructions">
    <tr>
        <th>Create</th>
        <td>
            Use the create option to create a new flight. This will enable a number of additional navigation options.
            The "create filght" page also has an option to generate a flight populated with dummy data, including a
            list of passengers and seat allocations.
        </td>
    </tr>
    <tr>
        <th>Load</th>
        <td>
            Use the load option to load a flight from a flight data file. You will be prompted for the flight number
            and departure date for the flight you want to load.
        </td>
    </tr>
</table>
